.body {
 background-color: #C5F0CA;
}

.title {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
}

.sub-title {
  font-family: 'Major Mono Display', monospace;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;

}

.btn  {
  margin-left: 675px;
  margin-bottom: 25px;
}

.card {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-text {
font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-text {
font-family: 'Roboto Condensed', sans-serif;
font-size: 25px;
}

.list-group-div {
  margin-bottom: 50px;
}
